# folder
/.gradle/
/.metadata/
/.settings/
/bin/
/build/
/eclipse/
/gradle/
/logs/
/mods/
$RECYCLE.BIN/

# files
.classpath
.project
*.bat
Thumbs.db
ehthumbs.db
Desktop.ini
gradlew
gradlew.bat
build.gradle
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README.txt